<!DOCTYPE html>

<html>
    <head>
    </head>
    <body>
      <div class="main-content">
        {{>header}}

        <h1>{{title}}</h1>
        <form>
        <input>
        <button>search</button>
       </form>
       <p id="message-1"></p>
       <p id="message-2"></p>
        </div>
        {{>footer}}
        <script src="/js/app.js"></script>

    </body>
</html>